<div class="cover"></div><!-- end .cover -->

    <div class="main">
        <div class="main-interior">

            <% if current_user %>

                <div class="row light-bg">
                    <div class="content">
                        <p>Hello, <%= current_user.name %> &mdash; you're almost done!</p>
                    </div>
                </div>

                <%= form_for(@user, remote: true, :html => {:class => "form edit_user update-endorsement-form"}) do |f| %>

                     <div class="row">
                        <fieldset>
                            <%= f.label :zip_code, "What's your zip code?" %>
                            <%= f.text_field :zip_code %>
                        </fieldset>

                        <fieldset>
                            <%= f.label :comment, "Share why you are supporting #{ENV['CAMPAIGN_NAME']}" %>
                            <%= f.text_area :comment %>
                        </fieldset>

                        <fieldset class="checkbox-row">
                            <%= check_box_tag 'share', 'yes', true %>
                            <%= label_tag 'share', "Share my endorsement on Facebook" %>
                        </fieldset>
                    </div>

                    <div class="row light-bg center">
                        <%= f.submit "Finished! Add my endorsement.", class: "btn endorsement-submit" %>
                    </div>
                <% end %>

            <% else %>

                <div class="row">
                    <h1 class="title"><%= ENV["CAMPAIGN_NAME"] %></h1>
                    <h2 class="sub-title">Endorsement Map</h2>
                </div>

                <div class="row">
                    <div class="content">
                        <%= ENV["INTRO_HTML"].html_safe %>
                    </div>
                </div>

                <div class="row light-bg">
                    <%= link_to "Add your name with Facebook", "/auth/facebook", id: "sign-in", class: "btn btn-facebook" %>
                </div>

                <div class="row continue-row">
                    <a href="#" class="continue-link">Skip signup and view map &rarr;</a>
                </div>

            <% end %>

        </div><!--end .main-interior -->
    </div><!--end .main -->


    <div class="big-content">
        <script id="friends-template" type="text/x-handlebars-template">
            <h2 class="friends-title">Looks like you have <span class="friends-count">some</span> friends in this district! Help spread the word by sharing with them!</h2>

            {{#each this}}
                <div class="friend-container friend-{{@index}} {{#compare @index "<" 9}}friend-visible{{/compare}}" data-uid="{{ uid }}" data-firstname="{{ first_name }}" data-lastname="{{ last_name }}" data-name="{{ name }}" data-username="{{ username }}">
                    <div class="avatar-wrap">
                        <div class="avatar" style="background-image: url({{ image_normal_url }});"></div>
                    </div>
                    <div class="friend-info">
                        <h1 class="friend-name">{{ name }}</h1>
                        <p class="location-name">{{ city }}</p>
                    </div>
                    <div class="checkmark"></div>
                </div>
            {{else}}
                <p><a href="#">You have no friends!</a></p>
            {{/each}}

                <p><a href="#" class="btn small-btn show-more-friends">Show more friends</a></p>
        </script>
    </div><!--end .big-container -->

<div id="map"></div><!--end #map -->