<!DOCTYPE html>
<html>
<head>
  <title>Endorsement Map</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>

  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet'>

  <script type="text/javascript" src="//use.typekit.net/zxk2jzc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->

  <%= include_gon %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="top-info">
      <% if current_user %>
        <%= link_to "Sign out", signout_path, id: "sign-out" %>
      <% else %>
        <%= link_to "Add your name with Facebook", "/auth/facebook", id: "sign-in" %>
      <% end %>
    </div>

  <%= yield %>

  </div><!--end .wrapper -->

<%= javascript_include_tag "application" %>
</body>
</html>
